<footer>
    <ul class="footer-list">
      <li class="footer-item">
        <%= link_to "example 1", root_path %>
      </li>
      <li class="footer-item">
        <%= link_to "example 2", root_path %>
      </li>
      <li class="footer-item">
        <%= link_to "facebook", "https://www.facebook.com/groups/456133042487589", target: "_blank" %>
      </li>
      <% unless Current.user %>
        <li class="footer-item">
          <%= link_to "Sign up", sign_up_path %>
        </li>
      <% end %>
    </ul>
</footer>