<footer>
    <ul class="footer-list">
      <li class="footer-item">
        <%= link_to "example 1", root_path %>
      </li>
      <li class="footer-item">
        <%= link_to "example 2", root_path %>
      </li>
      <li class="footer-item">
        <%= link_to "example 3", root_path %>
      </li>
      <li class="footer-item">
        <%= link_to "Sign up", sign_up_path %>
      </li>
    </ul>
</footer>