/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

body {
    background: #ffcc99;
    font-family: 'Roboto', sans-serif;
}

a:link, a:visited {
    color: #49351d;
    text-decoration: none;
}

/* navbar */

header {
    background: #7e7e1b;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.inner-header {
    width: 90%;
    margin: 0 auto;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 40px;

    position: relative;
}

nav a {
    text-transform: uppercase;
    font-size: 20px;
    color:  #49351d;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #49351d;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover {
    color: black;
}

nav a:hover::before {
    width: 100%;
}

.logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 75px;
    float: left;
    color:  #49351d;
}

/* notices/alerts */

.notice {
    background: #679dca;
    padding: 10px;
    border: 1px solid #1c4b8a;
    border-radius: 7px;
    color: #1c4b8a;
    margin-top: 10px;
}

.alert {
    background: #c07373;
    padding: 10px;
    border: 1px solid #772424;
    border-radius: 7px;
    color: #772424;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* main content */

main {
     width: 90%;
     margin: 0 auto;
     min-height: 100%;
     margin-top: 10px;
}

.container {
    overflow: auto;
    padding-bottom: 100px;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    color:  #49351d;
    margin: 15px 0px;
}

/* forms */

form {
    float: right;
    width: 50%;
    margin-bottom: 40px;
}

.form-group {
    display: grid;
    margin-bottom: 15px;
}

.form-field {
    height: 20px;
    border: none;
    border-bottom: 3px solid #49351d;
    background: #ffcc99;
    font-family: 'Roboto', sans-serif;
    outline: none;
    width: 100%;
}

.text-field {
    height: 100px;
    border-bottom: 3px solid #49351d;
    background: #ffcc99;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

::placeholder {
    color: #7e7e1b;
    opacity: 1;
}
.button {
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    color: #49351d;
    background-color:#ffcc99;
    border: 2px solid #7e7e1b;
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    transition-duration: 0.2s;
    box-shadow: 2px 5px 5px #5a5957;
}

.button:hover {
    background-color:#7e7e1b;
}

.button:active {
    transform: translateY(3px);
    box-shadow: 0px 2px 2px #5a5957;
}

/* sign up page */

.sign-up-img {
    width: 45%;
    float: left;
    margin-bottom: 40px;
}

/* footer */

footer {
    background-color: #7e7e1b;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}

.footer-list {
    width: 90%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-item {
    margin: 40px;
    color: #49351d;
}